body{
margin:0;
font-family:Arial;
display:flex;
background:#f4f6f9;
}

.sidebar{
width:260px;
background:#003B71;
color:white;
padding:20px;
height:100vh;
overflow:auto;
}

.sidebar input{
width:100%;
padding:8px;
margin-bottom:15px;
border:none;
border-radius:5px;
}

.sidebar div{
margin-bottom:8px;
cursor:pointer;
padding:8px;
border-radius:5px;
}

.sidebar div:hover{
background:#0055a5;
}

.main{
flex:1;
padding:30px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
margin-bottom:20px;
}

h1{
color:#003B71;
}

h2{
color:#003B71;
}

.section{
margin-top:15px;
}

.tag{
display:inline-block;
background:#e6f0ff;
color:#003B71;
padding:5px 10px;
border-radius:20px;
font-size:12px;
margin-bottom:10px;
}
